<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="ok">
   <div class="about">
       <div class="profile flex-col flex">
           <img class="avatar" src="../../../assets/files/avatar.png" alt="Profile Ariyan">
           <div class="name">Ariyan Esmaeili</div>
           <div class="about-text">
               Front-End Developer
               Ui/Ux Designer
           </div>
       </div>
       <div class="about-ariyan">
           <div class="abouts">
               <div class="abouts-my">
                   <span class="flex">
                       <div class="text white">
                           Residence:
                       </div>
                       <div class="text gray">
                           Iran
                       </div>
                   </span>
                   <span class="flex">
                       <div class="text white">
                           City:
                       </div>
                       <div class="text gray">
                           Sirjan
                       </div>
                   </span>
                   <span class="flex">
                       <div class="text white">
                           Age:
                       </div>
                       <div class="text gray">
                           12
                           
                       </div>
                   </span>
               </div>
               <div class="charts">
                   <div class="chart">
                       <div class="chart-s">
                           <svg viewBox="0 0 36 36" class="circular-chart">
                               <path class="paths"
                                 stroke-dasharray="100, 100"
                                 
                                 d="M18 2.0845
                                   a 15.9155 15.9155 0 0 1 0 31.831
                                   a 15.9155 15.9155 0 0 1 0 -31.831"
                               />
                               <text class="za" x="19" y="17"  text-anchor="middle" alignment-baseline="central" font-size="10" fill="black">100%</text>
   
                               <svg viewBox="0 0 36 36" class="circular-chart">
                                     
                                   <path class="circle-1"
                                     stroke-dasharray="100, 100"
                                     d="M18 2.0845
                                       a 15.9155 15.9155 0 0 1 0 31.831
                                       a 15.9155 15.9155 0 0 1 0 -31.831"
                                   />
                             
                                 </svg>
                           </svg>
                           <div class="text white">
                               Persian
                           </div>
                       </div>
                       <div class="chart-s">
                           <svg viewBox="0 0 36 36" class="circular-chart">
                               <path class="paths"
                                 stroke-dasharray="100, 100"
                                 
                                 d="M18 2.0845
                                   a 15.9155 15.9155 0 0 1 0 31.831
                                   a 15.9155 15.9155 0 0 1 0 -31.831"
                               />
                               <text class="za" x="19" y="17"  text-anchor="middle" alignment-baseline="central" font-size="10" fill="black">40%</text>
   
                               <svg viewBox="0 0 36 36" class="circular-chart">
                                     
                                   <path class="circle-1"
                                     stroke-dasharray="40, 100"
                                     d="M18 2.0845
                                       a 15.9155 15.9155 0 0 1 0 31.831
                                       a 15.9155 15.9155 0 0 1 0 -31.831"
                                   />
                             
                                 </svg>
                           </svg>
                           <div class="text white">
                               English
                           </div>
                       </div>
                       <div class="chart-s">
                           <svg viewBox="0 0 36 36" class="circular-chart">
                               <path class="paths"
                                 stroke-dasharray="100, 100"
                                 
                                 d="M18 2.0845
                                   a 15.9155 15.9155 0 0 1 0 31.831
                                   a 15.9155 15.9155 0 0 1 0 -31.831"
                               />
                               <text class="za" x="19" y="17"  text-anchor="middle" alignment-baseline="central" font-size="10" fill="black">10%</text>
   
                               <svg viewBox="0 0 36 36" class="circular-chart">
                                     
                                   <path class="circle-1"
                                     stroke-dasharray="10, 100"
                                     d="M18 2.0845
                                       a 15.9155 15.9155 0 0 1 0 31.831
                                       a 15.9155 15.9155 0 0 1 0 -31.831"
                                   />
                             
                                 </svg>
                           </svg>
                           <div class="text white">
                               Spanish
                           </div>
                       </div>
                   </div>


               </div>
               <div class="statisticss">
                   <div class="statistics">
                       <span class="flex">
                           <div class="text white">
                               HTML
                           </div>
                           <div class="text gray">
                               95%
                           </div>
                       </span>
                       <div class="statistics-rectangle">
                           <div class="rectangle px95"></div>
                       </div>
                   </div>
                   <div class="statistics">
                       <span class="flex">
                           <div class="text white">
                               CSS
                           </div>
                           <div class="text gray">
                               90%
                           </div>
                       </span>
                       <div class="statistics-rectangle">
                           <div class="rectangle px90"></div>
                       </div>
                   </div>

                   <div class="statistics">
                       <span class="flex">
                           <div class="text white">
                               JS
                           </div>
                           <div class="text gray">
                               50%
                           </div>
                       </span>
                       <div class="statistics-rectangle">
                           <div class="rectangle px50"></div>
                       </div>
                   </div>
                   <div class="statistics">
                       <span class="flex">
                           <div class="text white">
                               PHP
                           </div>
                           <div class="text gray">
                               20%
                           </div>
                       </span>
                       <div class="statistics-rectangle">
                           <div class="rectangle px20"></div>
                       </div>
                   </div>
                   <div class="statistics">
                       <span class="flex">
                           <div class="text white">
                               Angular
                           </div>
                           <div class="text gray">
                               5%
                           </div>
                       </span>
                       <div class="statistics-rectangle">
                           
                           <div class="rectangle px5"></div>
                       </div>
                   </div>
               </div>

               <div class="Specialties">
                   <div class="Expertise">
                       <span class="Exp">
                           <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#fe9501"><path d="M379.33-244 154-469.33 201.67-517l177.66 177.67 378.34-378.34L805.33-670l-426 426Z"/></svg>
                           <div class="text gray">Bootstrap, Materialize</div>
                       </span>
                       <span class="Exp">
                           <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#fe9501"><path d="M379.33-244 154-469.33 201.67-517l177.66 177.67 378.34-378.34L805.33-670l-426 426Z"/></svg>
                           <div class="text gray">Stylus, Sass, Less</div>
                       </span>
                       <span class="Exp">
                           <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#fe9501"><path d="M379.33-244 154-469.33 201.67-517l177.66 177.67 378.34-378.34L805.33-670l-426 426Z"/></svg>
                           <div class="text gray">Frond-End, Back-End</div>
                       </span>
                       <span class="Exp">
                           <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#fe9501"><path d="M379.33-244 154-469.33 201.67-517l177.66 177.67 378.34-378.34L805.33-670l-426 426Z"/></svg>
                           <div class="text gray">GIT  Knowledge</div>
                       </span>
                   </div>
               </div>

           </div>

       </div>
       <footer>
           <div class="item">
               <a href="#"><i class="fa fa-github"></i></a>
               <a href="#"><i class="fa fa-telegram"></i></a>
               <a href="#"><i class="fa fa-linkedin"></i></a>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
           

           </div>
       </footer>
   </div>
   <div class="ordersss">
       <div class="title">
           <div class="texts">
               <div class="text white font-large bold">
                   Hi , I'm Ariyan 
               </div>
               <div class="text white font-large bold">Esmaeilzadeh</div>
               <div class="text-code">
                   <div class="text white">
                       &lt;
                   </div>
                   <div class="text yellow">
                       code
                   </div>
                   <div class="text white">
                       &gt;
                   </div>
                   <div class="text white">
                       I'm Developer And Designer BackEnd And Front End
                   </div>
                   <div class="text white">
                       &lt;
                   </div>
                   <div class="text white">
                       /
                   </div>
                   <div class="text yellow">
                       code
                   </div>
                   <div class="text white">
                       &gt;
                   </div>
               </div>
               <button class="Explore text white">Explore Now</button>
           </div>
           <div class="img">
               <img class="avatar-2" src="../../../assets/files/avatar.png" alt="">
           </div>
       </div>
       <div class="history">
           <div class="text">
               <h3 class="org">4 +</h3>
               <h4 class="white"> Years Experience</h4>
           </div>
           <div class="text">
               <h3 class="org">68 +</h3>
               <h4 class="white">Compeleted Projects</h4>
           </div>
           <div class="text">
               <h3 class="org">8 +</h3>
               <h4 class="white">Programing Language</h4>
           </div>
       </div>
       <div class="services">
           <div class="text white flex-end tit">
               <h2>
                   My Services:
               </h2>
           </div>

           <div class="servicehs">
               <div class="row-1">
                   <div class="servicesss">
                       <div class="text white flex-end">
                           <h4>
                               Web Development
                           </h4>
                       </div>
                       <div class="text gray">
                           <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime excepturi obcaecati nostrum reiciendis. Praesentium eius sit debitis odit distinctio quidem delectus modi. Velit recusandae ex voluptatem voluptatum ipsam, doloremque laboriosam.</h5>
                       </div>
                       <div class="text org flex-end ord">
                           <h4>Order Now ></h4>
                       </div>
                   </div>
                   <div class="servicesss">
                       <div class="text white flex-end">
                           <h4>
                               UI/UX Design
                           </h4>
                       </div>
                       <div class="text gray">
                           <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime excepturi obcaecati nostrum reiciendis. Praesentium eius sit debitis odit distinctio quidem delectus modi. Velit recusandae ex voluptatem voluptatum ipsam, doloremque laboriosam.</h5>
                       </div>
                       <div class="text org flex-end ord">
                           <h4>Order Now ></h4>
                       </div>
                   </div>
                   <div class="servicesss">
                       <div class="text white flex-end">
                           <h4>
                               Sound Design
                           </h4>
                       </div>
                       <div class="text gray">
                           <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime excepturi obcaecati nostrum reiciendis. Praesentium eius sit debitis odit distinctio quidem delectus modi. Velit recusandae ex voluptatem voluptatum ipsam, doloremque laboriosam.</h5>
                       </div>
                       <div class="text org flex-end ord">
                           <h4>Order Now ></h4>
                       </div>
                   </div>
           </div>
           <div class="row-2">
               <div class="servicesss">
                   <div class="text white flex-end">
                       <h4>
                           Game Design
                       </h4>
                   </div>
                   <div class="text gray">
                       <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime excepturi obcaecati nostrum reiciendis. Praesentium eius sit debitis odit distinctio quidem delectus modi. Velit recusandae ex voluptatem voluptatum ipsam, doloremque laboriosam.</h5>
                   </div>
                   <div class="text org flex-end ord">
                       <h4>Order Now ></h4>
                   </div>
               </div>
               <div class="servicesss">
                   <div class="text white flex-end">
                       <h4>
                           Back-End/Front-End Dev
                       </h4>
                   </div>
                   <div class="text gray">
                       <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime excepturi obcaecati nostrum reiciendis. Praesentium eius sit debitis odit distinctio quidem delectus modi. Velit recusandae ex voluptatem voluptatum ipsam, doloremque laboriosam.</h5>
                   </div>
                   <div class="text org flex-end ord">
                       <h4>Order Now ></h4>
                   </div>
               </div>
               <div class="servicesss">
                   <div class="text white flex-end">
                       <h4>
                           Photography
                       </h4>
                   </div>
                   <div class="text gray">
                       <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime excepturi obcaecati nostrum reiciendis. Praesentium eius sit debitis odit distinctio quidem delectus modi. Velit recusandae ex voluptatem voluptatum ipsam, doloremque laboriosam.</h5>
                   </div>
                   <div class="text org flex-end ord">
                       <h4>Order Now ></h4>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>